#ul {
    display: flex;
    flex-direction: row;
    background-color: black;

    padding: 0;
    justify-content: flex-end;

    align-self: center;
    height: 60px;
    width: auto;
}
#li {
    display: block;

    border: 2px solid gray;
    border-radius: 10px;
    margin-right: 0;

    padding: 5px;
    margin: 15px;
    height: 20px;
    width: 100px;
    color: white;
    font-family: monospace;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;

}

#li:hover {
    transform: scale(1.2);}
        #cover {
            background-image: url(cover\ pic.jpg);
            height: 200px;
            width: auto;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
        }
    
        #cover h2 {
            font-family: monospace;
            text-align: top;
            color: white;
            position: absolute;
            font-size: 55px;
            top: 80px;
            left: 300px;
        }
    
        #cover h2:hover {
            transform: scale(1.2);}
         #cover p {
             font-family: cursive;
              text-align: center;
            color: white;
           position: absolute;
             font-size: 20px;
             top: 150px;
         left: 450px;
                        }
            
         #cover p:hover {
        transform: scale(1.2);
     }
         #cover input {
             font-family: cursive;
             text-align: center;
             color: black;
             position: absolute;
             font-size: 20px;
             height: 50px;
             width: 200px;
             margin: auto;
    
             top: 190px;
             left: 480px;
         }
                 #heading {
                     position: absolute;
                     top: 300px;
                     left: 500px;
                     text-align: center;
                     font-family: monospace;
                     font-size: 35px;
                     color: black;
                     font-weight: bold;
                     
                     
                 }
        
                 #heading:hover {
                     transform: scale(1.2);
                 }
     *{
        margin:0;
        padding:0;
     }
     #main{
        height:1500px;
        width:auto;
        margin-top:100px;
        
     }
     #h2{
        color:white;
        font-family: monospace;
        font-size: 35px;
        font-weight: bold;
        text-align: center;
        height:40px;
        width:auto;
        /* margin:20px; */
        padding:20px;
        background-color: black;
        margin-top:50px;

     }
     #h2:hover{
        transform:scale(1.05);
     }
     #item1{
        display:flex;
        flex-direction: row;
        height:370px;
        width:auto;
        justify-content: center;
        background-color: black;
        
     }
     .desi{
        height:330px;
        width:200px;
       background-color: white;
        margin:10px;
        padding:10px;
        border:2px solid gray;

     }
     .desi:hover{
        transform: scale(1.08);
     }
     .nam{
        color: black;
            font-family: serif;
            font-size: 19px;
            text-align: left;
            font-weight: bold;
            padding: 5px;
     }
     .nam:hover{
        transform: scale(1.05);
     }
     .p{
        color: black;
            text-align: left;
     }
     .p:hover{
        transform: scale(1.05);
     }
     .desi img{
        height: 100px;
            width: 150px;
            padding: 15px;
     }
     .desi img:hover{
        transform: scale(1.05);
     }
     .price{
        font-weight: bold;
            color: black;
            text-align: center;
        
            height: 20px;
            width: 150px;
            background-color: yellow;
            margin-left: 15px;
     }
     .price:hover{
        transform: scale(1.05);
     }
          #item2 {
             display: flex;
             flex-direction: row;
             height: 370px;
             background-color: black;
             width: auto;
             justify-content: center;

            
         }
         .fast{
            height: 330px;
                width: 200px;
                background-color: white;
                margin: 10px;
                padding: 10px;
                border:2px solid gray;
         }
         .fast:hover{
            transform: scale(1.08);
         }
         
             .fast img {
                     height: 100px;
                     width: 150px;
                     padding: 15px;
                 }
                 .fast img:hover{
                    transform: scale(1.05);
                 }
        #item3 {
            display: flex;
            flex-direction: row;
            height: 370px;
            background-color: black;
            width: auto;
            justify-content: center;
            
        }
    
        .bakery {
            height: 330px;
            width: 200px;
            background-color: white;
            margin: 10px;
            padding: 10px;
            border:2px solid gray;
        }
        .bakery:hover{
            transform: scale(1.08);
        }
    
        .bakery img {
            height: 100px;
            width: 150px;
            padding: 15px;
        }
        .bakery img:hover{
            transform: scale(1.05);
        }
        body{
            transition: all 1s;
        }